@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
nav {
    background-color: #333;
    overflow: hidden;
}
.nav-center {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    font-size: 1.5rem;
    font-family: 'Bebas Neue'
}
main {
    display: grid;
    place-items: center;
}
.container {
    text-align: center;
}
.container p {
    margin-bottom: 1.25rem;
    font-family: 'Oswald', sans-serif;
    color: #333;
}
.container h2 {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #f2f2f2;;
    border: #333;
    border-width: 3px;
    border-style: solid;
    font-family: 'Bebas Neue';
}
.btn {
    padding: 2%;
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 1rem;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    box-shadow: 2px 5px #999;
}
.btn:hover {
    background-color: #fff8be;
}
.btn:active {
    background-color: rgb(255, 255, 110);
    transform: translateY(3px);
    box-shadow: 2px 2px #666;
}
